* {
  box-sizing: border-box;
}

form {
  position: relative;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  
}

fieldset {
  margin-bottom: 35px;
}

img {
  position: absolute;
  top: 55px;
  right: 25px;
}

input, select {
  font-size: 1.2em;
  padding: 10px 8px;
  border: 2px solid dimgray;
  border-radius: 4px;
}

input:focus, select:focus {
  outline: none;
  border-color: dodgerblue;
}

input[type=text], input[type=email] {
  width: 50%;
}

input[type=tel] {
  width: 45%;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  width: 50%;
  padding: 10px 8px;
  font-size: 1.2em;
  border: 2px solid dimgray;
  background-color: whitesmoke;
  border-radius: 4px;
}

textarea:focus {
  outline: none;
  border: 2px solid dodgerblue;
}

h4 {
  color: darkslategrey;
  margin-bottom: 5px;
}

fieldset.search {
  position: relative;
  padding-bottom: 30px;
}

div.page_count {
  position: absolute;
  top: 25px;
  right: 40px;
  text-align: center;
}

input[type=button] {
  margin-right: 30px;
  float: right;
  background-color: palevioletred;
  cursor: pointer;
}

input[type="checkbox"] {
  margin: 0 5px 0 25px;
}

label[for=cover] {
  font-size: 1.3em;
}